html {

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

p {
  font-family: "Lato", sans-serif;
  line-height: 1.5rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  margin-top: 20px;
}

a {
  color: #000;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #333;
  border-radius: 8px;
  padding: 0.6em 0.75em 0.4em;
  font-size: 1.25rem;
}

.border {
  border: 2px solid #000;
}

.btn-ghost {
  background-color: white;
  color: #333;
}

.btn-ghost:hover {
  background-color: #333;
  border-color: #333;
  color: #fff;
}

div {
  display: inline-block;
  padding: 10px;
  max-width: 25em;
  text-align: left;
}

img {
  display: block;
  margin: auto;
  width: 100%;
}

section {
  background-color: #f2f2f2;
  padding: 20px;
  vertical-align: middle;
  text-align: center;
}
